*{
	margin: 0;
	padding: 0;
}


body{
	background: #eeeeee;
}
.h-container{
	max-width: 1200;
	/*border: 1px solid green;*/
	margin: 0 auto;

}
.h-header{
	background: white;
}
.h-header:after{
	content: "";
	clear: both;
	display: block;
	visibility: none;
}
.h-logo{
	float: left;
}
.h-nav{
	float: right;

}